body {
    font-family: arial,sans-serif;
}
/* Nav Bar */

#nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header {
    padding:10px;
}

.nav-link {
    text-decoration: none;
    color: #222;
}
.nav-link:hover {
    text-decoration: underline;
}

#more-icon {
    width:1.5em;
    height:1.5em;
    align-self: top;
    fill:#5f6368;
    border: solid white 8px;
    border-radius: 50%;
}
#more-icon:hover {
    border: solid rgba(60,64,67,0.08) 8px;
    border-radius: 50%;
    background-color: rgba(60,64,67,0.08);
}

.avatar {
    border-radius: 50%;
    border: solid white 8px;
}

.avatar:hover {
    border: solid rgba(60,64,67,0.08) 8px;
    border-radius: 50%;
    background-color: rgba(60,64,67,0.08);    
}

.fill-space-nav {
    flex:auto;
}

/* Search box */

#empty-space {
    display: flex;
    height: 20vh;
}

#google-logo {
    display: block;
    width:40vw;
    margin-left: auto;
    margin-right: auto;
}

#empty-space-logo-bar {
    display: flex;
    height: 2vh;
}
#search-box {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 5px;
}

#search-form {
    text-align: center;
}

#search {
    width: 42vw;
    border: hidden;
}

#search-icon {
    color: #9aa0a6;
}

.button {
    margin: 2em 1em 0em 1em;
}

/* Footer Bar */