body {
    font-family: arial,sans-serif;
}

/* Search box */

#empty-space {
    display: flex;
    height: 20vh;
}

#google-logo {
    display: block;
    width:40vw;
    margin-left: auto;
    margin-right: auto;
}

#search-box {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 5px;
}

#search-form {
    text-align: center;
}

#search {
    width: 42vw;
    border: hidden;
}

#search-icon {
    color: #9aa0a6;
}